<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnQtbWFya2Rvd24tdWkiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7
		InVybFN0cmluZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9nb256YWxlenJl
		YWxcL3N3aWZ0LW1hcmtkb3duLXVpIn1dfSwicHJvZHVjdEZpbHRlciI6bnVs
		bCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIyLjAu
		MCIsInVwcGVyQm91bmQiOiIzLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9s
		IjpbeyJpZGVudGl0eSI6InBvcHVwdmlldyIsImxvY2F0aW9uIjp7InJlbW90
		ZSI6W3sidXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2V4eXRl
		XC9Qb3B1cFZpZXcifV19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJl
		bWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjIuMC4wIiwidXBwZXJC
		b3VuZCI6IjMuMC4wIn1dfX1dfSx7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50
		aXR5IjoiY29sb3JmdWx4IiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1cmxT
		dHJpbmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvTGFrcjIzM1wvQ29sb3Jm
		dWxYIn1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsi
		cmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIyLjMuMSIsInVwcGVyQm91bmQiOiIz
		LjAuMCJ9XX19XX1dLCJkaXNwbGF5TmFtZSI6Ik1hcmtkb3duVHV0b3IiLCJw
		YWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9u
		cyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNi4wIn1d
		LCJwcm9kdWN0cyI6W3sibmFtZSI6Ik1hcmtkb3duVHV0b3IiLCJzZXR0aW5n
		cyI6W3siYnVuZGxlSWRlbnRpZmllciI6WyJjb20ucG93ZW4uTWFya2Rvd25U
		dXRvciJdfSx7InRlYW1JZGVudGlmaWVyIjpbIjZaVTZSUzU5UkMiXX0seyJk
		aXNwbGF5VmVyc2lvbiI6WyIwLjEiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEi
		XX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xv
		ciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImJsdWUifX19LCJhcHBD
		YXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkuZWR1
		Y2F0aW9uIn0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24i
		fX0sImNhcGFiaWxpdGllcyI6W3siZmlsZUFjY2Vzc0xvY2F0aW9uIjoidXNl
		clNlbGVjdGVkRmlsZXMiLCJmaWxlQWNjZXNzTW9kZSI6InJlYWRXcml0ZSIs
		InB1cnBvc2UiOiJmaWxlQWNjZXNzIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1p
		bGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmll
		bnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6
		e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3du
		Ijp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19
		XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFi
		bGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5k
		ZW5jaWVzIjpbeyJwcm9kdWN0IjpbIk1hcmtkb3duVUkiLCJzd2lmdC1tYXJr
		ZG93bi11aSIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIlBvcHVwVmlldyIs
		InBvcHVwdmlldyIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkNvbG9yZnVs
		WCIsImNvbG9yZnVseCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFt
		ZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOmZhbHNlLCJwYXRoIjoi
		LiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsi
		cHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFi
		bGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6
		WyJNYXJrZG93blVJIiwic3dpZnQtbWFya2Rvd24tdWkiLG51bGwsbnVsbF19
		LHsicHJvZHVjdCI6WyJQb3B1cFZpZXciLCJwb3B1cHZpZXciLG51bGwsbnVs
		bF19LHsicHJvZHVjdCI6WyJDb2xvcmZ1bFgiLCJjb2xvcmZ1bHgiLG51bGws
		bnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYWNr
		YWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBh
		dGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0
		aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24i
		OnsiX3ZlcnNpb24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		URlyBneyzdbA3RzYGQftkLWERE+lMspLe35o0JSsHyU=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
